@model RegisterVM
@{
    Layout = "_AuthLayout";
}

<div class="login-container">
    @Html.ValidationSummary();
    <form asp-action="Register" class="login-form">
        <h1>Welcome Back</h1>
        <p>Please login to your account</p>

        <div class="input-group">
            <input asp-for="Email" type="email" placeholder="Email" required>
            <span style="color:red" asp-validation-for="Email"></span>
        </div>

        <div class="input-group">
            <input asp-for="Password" type="password" id="password" name="password" placeholder="Password" required>
            <span style="color:red" asp-validation-for="Email"></span>
        </div>
        
        <div class="input-group">
            <input asp-for="RePassword" type="password" id="password" placeholder="Password" required>
            <span style="color:red" asp-validation-for="RePassword"></span>
        </div>

        <button type="submit">Register</button>

        <div class="bottom-text">
            <p>Already have an account? <a asp-action="Login">Sign In</a></p>
        </div>
    </form>
</div>