@model IndexVM
@{
    ViewData["Title"] = "Home Page";
}

<!-- Service Section -->
<section id="service" class="pattern-style-4 has-overlay">
    <div class="container raise-2">
        <h6 class="section-subtitle text-center">Featured Food</h6>
        <h3 class="section-title mb-6 pb-3 text-center">Special Dishes</h3>
        <div class="row">
            <div class="col-md-6 mb-4">
                <a href="javascrip:void(0)" class="custom-list">
                    <div class="img-holder">
                        <img src="~/imgs/dish-1.jpg"
                             alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Aperiam incidunt dicta</h5>
                            <p class="float-right text-primary">$25</p>
                        </div>
                        <div class="body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing Eos, earum dicta est veniam
                                beatae libero!
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="javascrip:void(0)" class="custom-list">
                    <div class="img-holder">
                        <img src="~/imgs/dish-2.jpg"
                             alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Facere molestiae quaerat</h5>
                            <p class="float-right text-primary">$35</p>
                        </div>
                        <div class="body">
                            <p>Voluptatem voluptate ad fugit aliquam, laboriosam neque vero incidunt itaque.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="javascrip:void(0)" class="custom-list">
                    <div class="img-holder">
                        <img src="~/imgs/dish-3.jpg"
                             alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Veniam Beatae Libero</h5>
                            <p class="float-right text-primary">$18</p>
                        </div>
                        <div class="body">
                            <p>
                                Accusamus libero quo tempore suscipit molestias qui quam illo facere aspernatur esse!
                                Doloribus?
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="javascrip:void(0)" class="custom-list">
                    <div class="img-holder">
                        <img src="~/imgs/dish-4.jpg"
                             alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Incidunt Eius</h5>
                            <p class="float-right text-primary">$30</p>
                        </div>
                        <div class="body">
                            <p>
                                Doloremque maiores tempore, nostrum rerum nihil distinctio expedita voluptates eos
                                deserunt.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="javascrip:void(0)" class="custom-list">
                    <div class="img-holder">
                        <img src="~/imgs/dish-5.jpg"
                             alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Nihil dDstinctio</h5>
                            <p class="float-right text-primary">$24</p>
                        </div>
                        <div class="body">
                            <p>
                                Doloremque maiores tempore, nostrum rerum expedita incidunt eius voluptates eos
                                deserunt.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="javascrip:void(0)" class="custom-list">
                    <div class="img-holder">
                        <img src="~/imgs/dish-6.jpg"
                             alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Dignissimos quidem</h5>
                            <p class="float-right text-primary">$44</p>
                        </div>
                        <div class="body">
                            <p>
                                Doloremque maiores tempore, nostrum rerum nihil distinctio expedita voluptates eos
                                deserunt.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End of Featured Food Section -->
<!-- Menu Section -->
<section class="has-img-bg">
    <div class="container">
        <h6 class="section-subtitle text-center">Great Food</h6>
        <h3 class="section-title mb-6 text-center">Main Menu</h3>
        <div class="card bg-light">
            <div class="card-body px-4 pb-4 text-center">
                <div class="row text-left">
                    <div class="col-md-6 my-4">
                        <a href="#"
                           class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    Dolorem Exmaiores
                                    <p class="mt-1 mb-0">Numquam dolor dolores molestiae maiores quidem.</p>
                                </div>
                                <h6 class="float-right text-primary">$12</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 my-4">
                        <a href="#"
                           class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    Aperiam incidunt dicta
                                    <p class="mt-1 mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </p>
                                </div>
                                <h6 class="float-right text-primary">$23</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 my-4">
                        <a href="#"
                           class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    Animi repellat labore
                                    <p class="mt-1 mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </p>
                                </div>
                                <h6 class="float-right text-primary">$32</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 my-4">
                        <a href="#"
                           class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    Quo ipsum similique
                                    <p class="mt-2 mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </p>
                                </div>
                                <h6 class="float-right text-primary">$17</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 my-4">
                        <a href="#"
                           class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    Est nam tempore
                                    <p class="mt-2 mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </p>
                                </div>
                                <h6 class="float-right text-primary">$21</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 my-4">
                        <a href="#"
                           class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    Nesciunt ab veniam
                                    <p class="mt-2 mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </p>
                                </div>
                                <h6 class="float-right text-primary">$10</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="#book-table" class="btn btn-primary mt-4">Book A Table</a>
            </div>
        </div>
    </div>
</section>
<!-- End of Menu Section -->



<!-- Team Section -->
<section id="team">
    <div class="container">
        <h6 class="section-subtitle text-center">Great Team</h6>
        <h3 class="section-title mb-5 text-center">Talented Chefs</h3>
        <div class="row">
            @if (Model.TalantedChefs != null)
                @foreach (var chef in Model.TalantedChefs)
                {
                    <div class="col-md-4 my-3">
                        <div class="team-wrapper text-center">
                            <img src="~/@(chef.ProfileImageUrl)" class="circle-120 rounded-circle mb-3 shadow"
                                 alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page">
                            <h5 class="my-3">@chef.ChefName</h5>
                            <p>
                                @chef.ChefBio
                            </p>
                            <h6 class="socials mt-3">
                                @if (chef.ChefSocialMedias != null)
                                    @foreach (var socialMedia in chef.ChefSocialMedias)
                                    {    
                                        <a href="@socialMedia.SocialMediaUrl" class="px-2">
                                            @socialMedia.SocialIcon
                                            </a>
                                    }
                                 @* <a href="javascript:void(0)" class="px-2"><i class="ti-twitter"></i></a> *@
                            </h6>
                        </div>
                    </div>
                }
        </div>
    </div>
</section>
<!-- End of Team Section -->


<!-- Testmonial Section -->
<section id="testmonial" class="pattern-style-3">
    <div class="container">
        <h6 class="section-subtitle text-center">Best Clients</h6>
        <h3 class="section-title mb-5 text-center">Testmonials</h3>

        <div class="row">
            <div class="col-md-4 my-3 my-md-0">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-3">
                            <img class="mr-3" src="~/imgs/avatar.jpg"
                                 alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page">
                            <div class="media-body">
                                <h6 class="mt-1 mb-0">John Doe</h6>
                                <small class="text-muted mb-0">Business Analyst</small>
                            </div>
                        </div>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus enim
                            modi, id dicta reiciendis itaque.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-3">
                            <img class="mr-3" src="~/imgs/avatar-1.jpg"
                                 alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page">
                            <div class="media-body">
                                <h6 class="mt-1 mb-0">Maria Garcia</h6>
                                <small class="text-muted mb-0">Insurance Agent</small>
                            </div>
                        </div>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus enim
                            modi, id dicta reiciendis itaque.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-3">
                            <img class="mr-3" src="~/imgs/avatar-2.jpg"
                                 alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page">
                            <div class="media-body">
                                <h6 class="mt-1 mb-0">Mason Miller</h6>
                                <small class="text-muted mb-0">Residential Appraiser</small>
                            </div>
                        </div>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus enim
                            modi, id dicta reiciendis itaque.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Testmonial Section -->